*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    color:#343434
}
flex-container {
    display: flex;
    
}

#full_div {
   width: 100vw;
}

h2{
    padding-bottom: 5px;
}

h3 {
    align-items: center;
    color: #3E534B;
    padding-bottom: 10px;
}

h3:hover{
    background-color: rgba(244, 87, 19, 0.744);
    border-radius: 20px;
}

p{
    color: rgb(3, 66, 42);
    padding-bottom: 20px;
}

p:hover{
    background-color: #f9f9f9;
}

input {
    background-color: #343434;
    color: aliceblue;
    border-radius: 10px;
}



.border {
    
    background-color: #D2E0C8;

}

/*Sección imagen inicial*/

.imagen_inicio{
    position: relative;
    display: inline-block;
    width: 100vw;
}




/*Sección de metodologías*/

.item_image {
    display: inline-flex;
    max-width:60%;
    height:auto;
    border-radius: 20%;

}


.titulo_header {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 40%;
}

.texto1 {
    font-weight: bolder;
    font-size: 5vw;
    padding: 0px 10px 0px 50px;
    color: #203C2E;
}

.texto2{
    font-size: 5vw;
    padding: 0px 20px 0px 40px;
    color: #203C2E;

}

/***************ANIMACIONES_INDEX*******************************/
.anima {
    animation-name: animacion;
    animation-duration: 5s;
    animation-iteration-count: inherit;
}

@keyframes animacion{
    0% {
        transform: translateX(1000px);
    }/**estilos**/
    40% {
        transform: translateX(500px);
        transform: rotate(90deg);
        background-color: rgb(194, 203, 203);
    }
    100%{
        transform: translateX(0); 
        background-color: rgb(190, 205, 193);
    }
}

.animaimage {
    animation-name: animaimage;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes animaimage{
    0% {
        transform: translateX(100px);
    }/**estilos**/
    
    100%{
        transform: translateX(0); 
        transform: skew(30px);
    }
}

.animaimageBottom {
    animation-name: animaimageBottom;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes animaimageBottom{
    0% {
        transform: translateY(100px);
    }/**estilos**/
    
    100%{
        transform: translateX(0); 
        transform: skew(30px);
    }
}

.titleimage {
    animation-name: titleimage;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}

@keyframes titleimage{
    0% {
        transform: translateX(1000px);
        background-color: rgb(25, 159, 69);
        padding-left: 100px;
        padding-right: 20px;
        transform: skew(-30deg);
    }
    
    100%{
        transform: translateX(0); 
    }
}


.animacampos {
    animation-name: animacampos;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animacampos{
    0% {
        transform: translateX(-100px);
        transform: scale(30px);
    }
    100% {
        transform: translateX(0);
    }
}

.animacamposRight {
    animation-name: animacamposRight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes animacamposRight{
    0% {
        transform: translateX(100px);
        transform: scale(30px);
    }
    100% {
        transform: translateX(0);
    }
}


.anima:hover {
    background-color: rgb(19, 243, 22);
}

.transicion{
    transition: width 0.5s, height 2s;
}

.transicion:hover {
    width: 100%;
    height: 300px;
}


.texto2:hover{
    background-color: coral;
}

/***************ANIMACIONES SOBRE MI********/

.imagengirando {
    background-image: linear-gradient(145deg,cyan 30%, pink 80%); 
}




/**************responsive design NO EDITAR***********************/
/*
@media (orientation: landscape) and (min-width: 360px) and (max-width: 1720px) {

}*/

/******************Grid-por-areas MAIN GRID*****************/

#grid {
    display: grid;
    width: 100vw;
    /**Estructura-por-areas**/
    grid-template-areas: 
    "name navbar"
    "maintitle maintitle"
    "parrafo1 parrafo2"
    "methodology methodology"
    "agenda agenda"
    "pie pie"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10x;
}

/*DESKTOP***************INDEX*********************************************/

@media  (min-width: 1024px) and (max-width: 3280px) {
    .border {
       /*border: solid 1px black;*/
        background-color: white;
    }
    #grid {
        display: grid;
        width: 100vw;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name navbar"
        "maintitle maintitle"
        "parrafo1 parrafo2"
        "methodology methodology"
        "agenda"
        "pie pie"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10x;
    }
}

/*TABLET*************************INDEX*********************************/
@media  (min-width: 600px)  and (max-width: 1023px){
    .border {
         /*border: solid 1px black;*/
        background-color: #DEF5EC;
    }
    #grid {
        display: grid;
        height: 100vh;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name navbar"
        "maintitle maintitle"
        "parrafo1 parrafo2"
        "methodology methodology"
        "agenda agenda"
        "pie pie"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr;
        grid-column-gap: 10px;
        grid-row-gap: 10x;
    }
}

/*smartphone********************INDEX******************************************/
@media  (min-width: 1px)  and (max-width: 599px){
    .border {
         /*border: solid 1px black;*/
        background-color: #EAEEE6;
    }
    .titulo_header {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 40%;
    }

    #grid {
        display: grid;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name"
        "navbar"
        "maintitle"
        "parrafo1"
        "parrafo2"
        "methodology"
        "agenda"
        "pie"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        align-items: start;
        grid-gap: 10px;
    }

    #methodology ul {
        display: flex;
        flex-direction: column;
    }
}



/**nombre-de-areas-DESKTOP******************INDEX***************************************/

header{
    grid-area: maintitle;
    width: 100vw;
}



#name {
    grid-area: name;
    height: auto;
    padding: 20px;
}

#parrafo1{
    grid-area: parrafo1;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 15px;
}

#parrafo2{
    grid-area: parrafo2;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 15px;

}

nav{
    grid-area: navbar;
    height: auto;
    padding: 20px;
    padding-right: 30px;
    text-align: end;
    color: #3E534B;
    
    
}


a:hover{
    background-color: #D2E0C8;
}

#methodology{
    grid-area: methodology;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 15px;


}

#methodology li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#methodology ul{
    display: flex;
    justify-content: space-around;
    min-height: 20vh;
    
}


#methodology img {
    display: inline-block;
    border-radius: 5%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 15%;
    
}

#agenda {
    grid-area: agenda;
    height: auto;
    padding: 40px 100px;
    background-color: #F5F2D0;
}

#agenda:hover {
    border: 3px solid #68A38C;
}

footer{
    grid-area: pie;
}

footer .title_a_la_izquierda{
    font-weight: bold;
    padding: 7px;
    margin: 10px;
 
 
 }
 
 footer .title_a_la_derecha {
     position:relative;
     text-align: end;
     
     padding-bottom: 40px;
     margin-left: 100px;
     font-weight: bold;
 
 }

/**nombre-de-areas-MOBILE***************INDEX***********************************************/

#hamburguer{
    grid-area: hamburguer;
}


/*------------------------------------página Sobre mi----------------------------------------------------*/

/**nombre-de-areas-SOBRE************************/

#titlesobre {
    grid-area: titlesobre;
    padding-bottom: 10px;
    padding-top: 50px;
}

#contentsobre {
    grid-area: contentsobre;
    display: flex;
    width: 100vw;

}

.imagesobre {
    width: 50vw;
    height: fit-content;
    margin: 30px;
    border-radius: 30px;
}

.parrafoSobre {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}


/*DESKTOP*********************SOBRE MI************************************/

@media  (min-width: 1024px) and (max-width: 3280px) {
    .border {
         /*border: solid 1px black;*/
        background-color: rgb(234, 246, 246);
    }
    #gridSobre {
        display: grid;
        width: 100vw;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name navbar"
        "titlesobre titlesobre"
        "contentsobre contentsobre"
        "agenda agenda"
        "pie pie"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10x;
    }
}

/*Tablet************SOBRE MI****************************/
@media  (min-width: 600px)  and (max-width: 1023px){
    .border {
         /*border: solid 1px black;*/
        background-color: #DEF5EC;
    }
    #gridSobre {
        display: grid;
        height: 100vh;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name navbar"
        "titlesobre titlesobre"
        "contentsobre contentsobre"
        "agenda agenda"
        "pie pie"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr;
        grid-column-gap: 10px;
        grid-row-gap: 10x;
    }
}

/*smartphone************SOBRE MI****************************/

@media  (min-width: 1px)  and (max-width: 599px){
    .border {
        /*border: solid 1px black;*/
        background-color: #EAEEE6;
    }

    #gridSobre {
        display: grid;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name"
        "navbar"
        "titlesobre"
        "contentsobre"
        "agenda"
        "pie"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-gap: 10px;
    }
    #contentsobre {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



/*------------------------------------página PROYECTOS------DESKTOP ----------------------------------------*/


#proyectos h2 p {
    display: block;
    text-align: center;
    margin-left: 1000px;
    padding-left: 100px;
    padding-top: 50px;
    margin-right: 100px;
    margin-top: 100px;

}


#proyectos ul li{
    display: inline-block;
    color: rgb(43, 226, 214);
    text-align: center;
    font-weight: bold;
    width: 20vw;
    margin-left: 100px;
    margin-top: 20px;
    font-size: 40px;
    
}


#proyectos img {
    display: inline-block;
    width: 20vw;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 15%;
    
}

#mainproyecto {
    grid-area: mainproyecto;
    display: flex;
    flex-direction: column;
    align-content: center;
}




/*Desktop************PROYECTO****************************/

@media  (min-width: 1024px) and (max-width: 3280px) {
    .border {
        /*border: solid 1px black;*/
        background-color: white;
    }
    #gridProyecto {
        display: grid;
        width: 100vw;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name navbar"
        "mainproyecto mainproyecto"
        "agenda agenda"
        "pie pie"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10x;
    }

}
/*Tablet************PROYECTO****************************/
@media  (min-width: 600px)  and (max-width: 1023px){
    .border {
         /*border: solid 1px black;*/
        background-color: #DEF5EC;
    }
    #gridProyecto {
        display: grid;
        width: 100vw;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name navbar"
        "mainproyecto mainproyecto"
        "agenda agenda"
        "pie pie"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10x;
    }
}
/*smartphone************PROYECTOS****************************/

@media  (min-width: 1px)  and (max-width: 599px){
    .border {
         /*border: solid 1px black;*/
        background-color: #EAEEE6;
    }

    #gridProyecto {
        display: grid;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name"
        "navbar"
        "mainproyecto"
        "agenda"
        "pie"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-gap: 10px;
    }
}




/*------------------------------------página CONTACTO ------DESKTOP----------------------------------------*/


#formulario {
    grid-area: formulario;
    padding: 30px 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    
}

fieldset {
    padding: 10px 20px;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
}

fieldset:hover {
    background-color: rgb(180, 240, 203);
}

.divCampos {
    padding: 5px 5px;
}



/*Desktop************Contacto****************************/

@media  (min-width: 1024px) and (max-width: 3280px) {
    .border {
         /*border: solid 1px black;*/
        background-color: white;
    }
    #gridContacto {
        display: grid;
        width: 100vw;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name navbar"
        "formulario formulario"
        "pie pie"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10x;
    }

}

/*Tablet************CONTACTO****************************/
@media  (min-width: 600px)  and (max-width: 1023px){
    .border {
         /*border: solid 1px black;*/
        background-color: #DEF5EC;
    }
    #gridContacto {
        display: grid;
        width: 100vw;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name navbar"
        "formulario formulario"
        "pie pie"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10x;
    }
}


/*smartphone************CONTACTO****************************/

@media  (min-width: 1px)  and (max-width: 599px){
    .border {
         /*border: solid 1px black;*/
        background-color: #EAEEE6;
    }

    #gridContacto {
        display: grid;
        /**Estructura-por-areas**/
        grid-template-areas: 
        "name"
        "navbar"
        "formulario"
        "agenda"
        "pie"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-gap: 10px;
    }
}
